.details {
    margin-right: 10px;
    margin-top: 20px;
    width: 75%;

    
}

.update-restaurant-button{
    display: flex;
    justify-content: center !important;
    width: 100%;
    margin: 40px;
}
a.add-update-restaurant{
 height: 50px;
  line-height: 50px; 
  text-align: center;
  width:15%;
  border: solid 2px white;
  color: white;
  background-color: var(--vert);
  border-radius: 20px;
}



.lolo{
    display: flex;
}



@media (max-width:1216px) {
    .lolo {
        display: block;
    }

    .contenu{
        width: 100%;
       
    }
}

@media (max-width: 280px) {
    .username{
        font-size: 20px;
    }
}